@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    header{
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        background-color: rgb(80, 111, 85);
        width: 100%;
        color: #0b0a0a;
        padding: 0.5em; 
        font-family: PT Serif, sans-serif;
        height: 100%;
        width: 100%;
      }

    .main-nav {
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 2em;
  gap: 1em;
  text-decoration-color: #eee;
    }
    .main-nav a:active {
        color: whitesmoke;
      }

img {
    max-width: 400px;
    margin: auto;
    padding:20px;
}

.container {
display:flex;
flex-direction: row;
align-items: center;
}

p {
    padding: 5px;
}

.contactform {
   padding: 10px;
   display: flex;
   justify-content: center;
   margin: 20px;
}
  .flex2{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  footer {
    background-color: #093b4e;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    color: white;
  } 
  .text2 {
    font-family: 'Alegreya Sans SC', sans-serif; }